<div class="container">
  <h2>Add New Train</h2>

  <form [formGroup]="trainForm" (ngSubmit)="addTrain()" >

    <div class="row">
      <label>Train Name</label>
      <input type="text" formControlName="trainName" placeholder="Eg: Rajdhani Express">
      <!-- <small NgIf="trainForm.get('trainName')?.touched && trainForm.get('trainName')?.invalid">
        Train name is required
      </small> -->
    </div>

   <div class="row">
  <label>Train Number</label>
  <input type="text" formControlName="trainNumber">

  <small *ngIf="trainForm.get('trainNumber')?.errors?.['trainNumberExists']">
    🚫 Train number already exists
  </small>
</div>


    <div class="grid">
      <div class="row">
        <label>Source</label>
        <input type="text" formControlName="source" placeholder="Hyderabad">
      </div>

      <div class="row">
        <label>Destination</label>
        <input type="text" formControlName="destination" placeholder="Delhi">
      </div>
    </div>

    <div class="grid">
      <div class="row">
        <label>Departure Time</label>
        <input type="time" formControlName="departureTime">
      </div>

      <div class="row">
        <label>Arrival Time</label>
        <input type="time" formControlName="arrivalTime">
      </div>
    </div>

    <div class="row">
      <label>Total Seats</label>
      <input type="number" formControlName="totalSeats" placeholder="Eg: 300">
    </div>
    <!-- <h3>Coaches</h3>

<div formArrayName="coaches">
  <div *ngFor="let coach of coaches.controls; let i = index"
       [formGroupName]="i" class="grid">

    <select formControlName="coachType">
      <option value="">Select Coach</option>
      <option *ngFor="let type of coachTypes" [value]="type">
        {{ type }}
      </option>
    </select>

    <input type="number" formControlName="price" placeholder="Price">
    <input type="number" formControlName="availableSeats" placeholder="Available Seats">

    <button type="button" (click)="removeCoach(i)">❌</button>
  </div>
</div>

<button type="button" (click)="addCoach()">➕ Add Coach</button> -->


    <button type="submit" [disabled]="trainForm.invalid">
      ➕ Add Train
    </button>

  </form>

 
</div>


