.signup-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #96b8d1, #fce4ec);
}

.signup-card {
  width: 380px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  background: #fce4ec;
}

mat-card-header {
  text-align: center;
  margin-bottom: 12px;
  align-items: center;
}

mat-card-title {
  font-size: 24px;
  font-weight: 600;
  
  
}

mat-card-subtitle {
  font-size: 14px;
  color: gray;
  margin: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.action-buttons {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  margin-top: 20px;
}


.login-btn {
  flex: 1;
  height: 44px;
  border-radius: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
    background-color: rgba(23, 53, 226, 0.08);
}
.signup-btn {
  flex: 1;
  height: 44px;
  border-radius: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
    transition: all 0.3s ease;
    background-color: rgba(23, 53, 226, 0.08);
}


.register-container {
  max-width: 350px;
  margin: 60px auto;
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #1976d2;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-link {
  text-align: center;
  margin-top: 15px;
}

